body {
  background-color: black;
  background-image: url('icons/grid-tile.png'); /* or data URI */
  background-repeat: repeat;
  background-size: 400px 240px;

  background-color: white;
}

img {
  position: absolute;
  left: calc(var(--x) * 100px + var(--y) * 100px);
  bottom: calc(var(--x) * 40px - var(--y) * 40px);
  z-index: calc(var(--y) - var(--x));
  width: 160px;
}

a:hover * {
  transform: scale(1.2);
  font-size: x-large;
  z-index: 10;
}

/* Apply to all text elements */
h1, h2, span {
  background-color: white;
}
